<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<header>

    <div class="contactlink">
        <ul>
            <li><i class="fa fa-phone" ></i>contact</li>
            <li><i class="fa fa-envelope"></i>email</li>
        </ul>
        <ul>
            <li><i class="fa fa-user"></i>sign up</li>
            <li><i class="fa fa-unlock-alt"></i>login</li>
        </ul>

    </div>
<!-- -------------------2nd portions**----------------->
    <div class="container">
    <div class="navarea">
        <div class="educations">
            <h2><img id="eduimg" src="{% static 'imgs/education.png' %}">Educations</h2>
        </div>

        <div class="navlinks">
            <ul>
                <li>home</li>
                <li>info</li>
                <li><a class="same-a" href="/library">issue</a></li>
                <li><a class="same-a" href="/library/bookreturn">return</a></li>
            </ul>

        </div>
    </div>
  </div>

<!---------------3rd portions------------------>

    <div class="container bg-primary">
       <div class="main-area">
           <pre class="pretext"> Better Education For
 A Better World
 Education is what survives when what has been
 learned has been forgotten.</pre>
           <p class="prah">Books are considered as the best friends of students in a real sense, and it is said that they are also the best companions of students. They play a significant role in Student’s life. Books give plenty of joy to students, and they learn a lot of things from books. They take them into a unique world of imagination and improve their standard of living.</p>

      <button class="bton1"><a id="bton1a" href="#">Information</a></button>

       </div>
    </div>

    <!-----------footer--------->

 <div class="footer">
  <p>Library Management @ 2021</p>
</div>

</header>
</body>
</html>